@using EntityLayer.Concrete
@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td> <a href="/Job/DeleteJob/@item.CategoryId" class="btn btn btn-outline-danger" />Sil</td>
            <td> <a href="/Job/UpdateJob/@item.CategoryId" class="btn btn btn-outline-warning" />Düzenle</td>
            <td> <a href="/Job/DetailJob/@item.CategoryId" class="btn btn btn-outline-info" />Detaylar</td>
        </tr>
    }
</table>

